{% include "header.html" %}
<h1>Cart</h1>

{% if session["cart"] is defined %}
<form action="/updatecart" method="post">
    <table>
    <tr><th>Name</th><th>Quantity</th><th>Subtotal</th><th></th></tr>
    {% for code, item in session["cart"].items() %}
        <tr>
            <td>{{ item["name"] }}</td>
            <td>
                <input type="hidden" name="code_{{ code }}" value="{{ code }}"/>
                <input type="number" name="qty_{{ code }}" value="{{ item["qty"] }}" min="1"/>
            </td>
            <td>{{ item["subtotal"] }}</td>
            <td><a href="/removefromcart?code={{ code }}">Remove</a></td>
        </tr>
    {% endfor %}
    <tr><td colspan=3><b>Total</b></td><td><b>{{ session["cart"].values()|sum(attribute="subtotal") }}</b></td></tr>
    </table>
    <input type="submit" value="Update Cart"/>
</form>
{% else %}
<div>Your cart is empty</div>
{% endif %}

{% include "footer.html" %}